body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;

    background-color: #135DA355 !important;
    background-image: linear-gradient(160deg, #135DA388 0%, #012F4688 100%) !important;
    backdrop-filter: blur(4.5px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 500px;
}

.container > div {
    margin-bottom: 4px;
}

#overlay-text {
    position: absolute;
    top: -35px;
    color: black;
    font-weight: bold;
}

#data {
    margin-top: 20px;
    color: black;
}